// API
$utilities: (
  "link-opacity": (
    css-var: true,
    class: link-opacity,
    values: (
      10: .1,
      25: .25,
      50: .5,
      40: .4, // custom
      75: .75,
      100: 1
    )
  ),
  "text-opacity": (
  css-var: true,
  class: text-opacity,
  values: (
    25: .25,
    50: .5,
    60: .6,
    75: .75,
    100: 1
  )
),
)