// API
$utilities: (
  "link-opacity": (
    css-var: true,
    class: link-opacity,
    values: (
      10: 0.1,
      25: 0.25,
      50: 0.5,
      40: 0.4,
      75: 0.75,
      100: 1,
    ),
  ),
  "text-opacity": (
    css-var: true,
    class: text-opacity,
    values: (
      25: 0.25,
      40: 0.4,
      50: 0.5,
      60: 0.6,
      75: 0.75,
      100: 1,
    ),
  ),
);
