<div class="z-3 w-100 page-scoll-mask-b">
  <div class="bg-body d-flex justify-content-between pt-4t px-6t">
    <a class="d-flex btn-ghost btn-ghost-neutral" href="<%= prevPage %>"
      ><i class="icon-mask icon-arrow-left me-3t"></i>上一步</a
    >
    <a
      class="d-flex btn-ghost btn-ghost-accent disabled"
      href="<%= nextPage %>"
      id="prevPageBtn"
      >下一步<i class="icon-mask icon-arrow-right ms-3t"></i
    ></a>
  </div>
</div>
