<div class="progress">
  <div
    class="progress-bar"
    role="progressbar"
    style="width: <%= progress + '%' %>"
    aria-label="onboarding-progress"
    aria-valuenow="<%= progress %>"
    aria-valuemin="0"
    aria-valuemax="100"
  ></div>
  <div class="bg-primary-default rounded-circle ms-n3t">
    <i class="icon icon-sm icon-paw m-1"></i>
  </div>
</div>
