<div class="d-flex justify-content-between pt-4t px-6t">
  <a class="d-flex py-3t px-4t" href="name.html"
    ><i class="icon icon-arrow-left"></i>上一步</a
  >
  <a class="d-flex py-3t px-4t" href="interest.html"
    >下一步<i class="icon icon-arrow-right"></i
  ></a>
</div>
