<div class="position-sticky z-2 bottom-0 w-100 bg-body d-flex justify-content-between pt-4t px-6t">
  <a class="d-flex py-3t px-4t link-black link-opacity-40 text-decoration-none fw-bold lh-base" href="name.html"
    ><i class="icon icon-arrow-left me-3t"></i>上一步</a
  >
  <a class="d-flex py-3t px-4t link-primary-default text-decoration-none fw-bold lh-base" href="interest.html"
    >下一步<i class="icon icon-arrow-right ms-3t"></i
  ></a>
</div>
