<!DOCTYPE html>
<html lang="TW-zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meelo | onBoarding</title>
  </head>
  <body>
    <main class="pt-6t position-relative">
      <section class="container pt-6t">
        <%- include('./layout/onboarding-progress.ejs') %>
        <h1 class="mt-6t mb-2 fs-3 fw-bold text-primary-default">Elly</h1>
        <h2 class="mb-6t fs-4 fw-bold text-text-primary">你的性別是...</h2>
        <div class="row g-4t mb-6t">
          <div class="col-6">
            <div class="option-card card">
              <div class="card-body">
                <h3 class="fs-18 text-text-primary fw-bold">女性</h3>
                <img
                  src="/assets/images/onboarding/gender-1.png"
                  alt="性別選項-女性"
                />
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="option-card card">
              <div class="card-body">
                <h3 class="fs-18 text-text-primary fw-bold">男性</h3>
                <img
                  src="/assets/images/onboarding/gender-2.png"
                  alt="性別選項-男性"
                />
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="option-card  card">
              <div class="card-body">
                <h3 class="fs-18 text-text-primary fw-bold">雙性別</h3>
                <img
                  src="/assets/images/onboarding/gender-3.png"
                  alt="性別選項-雙性別"
                />
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="option-card  card">
              <div class="card-body">
                <h3 class="fs-18 text-text-primary fw-bold">無性別</h3>
                <img
                  src="/assets/images/onboarding/gender-4.png"
                  alt="性別選項-無性別"
                />
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="option-card  card">
              <div class="card-body">
                <h3 class="fs-18 text-text-primary fw-bold">不願透露</h3>
                <img
                  src="/assets/images/onboarding/gender-5.png"
                  alt="性別選項-不願透露"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
      <%- include('./layout/onboarding-pagenation.ejs') %>
    </main>

    <script type="module" src="/main.js"></script>
  </body>
</html>
