<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meelo | onBoarding</title>
  </head>
  <body>
    <main class="min-vh-100 pt-6t">
      <section class="container d-flex flex-column pb-6t mb-10t">
        <%- include('./layout/onboarding/progress.ejs', {progress: "42.86"}) %>
        <h1 class="mt-6t mb-2 fs-4 fw-bold text-text-primary">你的興趣是...</h1>
        <p class="mb-6t fs-14 text-black text-opacity-60">最多選三項</p>
        <form id="interestForm" class="row g-4t flex-grow-1">
          <div class="col-6">
            <div class="onboarding-check onboarding-check-lg rounded-4">
              <input
                class="onboarding-check-input d-none"
                type="checkbox"
                name="interest"
                id="travel"
                value="travel"
              />
              <label class="onboarding-check-label card h-100" for="travel">
                <div class="card-body">
                  <h3 class="fs-18 fw-bold">旅行</h3>
                  <p class="onboarding-check-text mb-6t fs-14">探索世界各地</p>

                  <img
                    class="onboarding-interest-img position-absolute z-1"
                    src="/assets/images/onboarding/interest-1.png"
                    alt="興趣選項-旅行"
                  />
                </div>
              </label>
            </div>
          </div>
          <div class="col-6">
            <div class="onboarding-check onboarding-check-lg rounded-4">
              <input
                class="onboarding-check-input d-none"
                type="checkbox"
                name="interest"
                id="foodie"
                value="foodie"
              />
              <label class="onboarding-check-label card h-100" for="foodie">
                <div class="card-body">
                  <h3 class="fs-18 fw-bold">美食</h3>
                  <p class="onboarding-check-text mb-6t fs-14">挖掘各地美味</p>

                  <img
                    class="onboarding-interest-img position-absolute z-1"
                    src="/assets/images/onboarding/interest-2.png"
                    alt="興趣選項-美食"
                  />
                </div>
              </label>
            </div>
          </div>
          <div class="col-6">
            <div class="onboarding-check onboarding-check-lg rounded-4">
              <input
                class="onboarding-check-input d-none"
                type="checkbox"
                name="interest"
                id="photograph"
                value="photograph"
              />
              <label class="onboarding-check-label card h-100" for="photograph">
                <div class="card-body">
                  <h3 class="fs-18 fw-bold">攝影</h3>
                  <p class="onboarding-check-text mb-6t fs-14">捕捉精彩瞬間</p>

                  <img
                    class="onboarding-interest-img position-absolute z-1"
                    src="/assets/images/onboarding/interest-3.png"
                    alt="興趣選項-攝影"
                  />
                </div>
              </label>
            </div>
          </div>
          <div class="col-6">
            <div class="onboarding-check onboarding-check-lg rounded-4">
              <input
                class="onboarding-check-input d-none"
                type="checkbox"
                name="interest"
                id="exercise"
                value="exercise"
              />
              <label class="onboarding-check-label card h-100" for="exercise">
                <div class="card-body">
                  <h3 class="fs-18 fw-bold">運動</h3>
                  <p class="onboarding-check-text mb-6t fs-14">
                    一起熱血揮灑汗水
                  </p>

                  <img
                    class="onboarding-interest-img position-absolute z-1"
                    src="/assets/images/onboarding/interest-4.png"
                    alt="興趣選項-運動"
                  />
                </div>
              </label>
            </div>
          </div>
          <div class="col-6">
            <div class="onboarding-check onboarding-check-lg rounded-4">
              <input
                class="onboarding-check-input d-none"
                type="checkbox"
                name="interest"
                id="music"
                value="music"
              />
              <label class="onboarding-check-label card h-100" for="music">
                <div class="card-body">
                  <h3 class="fs-18 fw-bold">音樂</h3>
                  <p class="onboarding-check-text mb-6t fs-14">
                    旋律裡找到自己
                  </p>

                  <img
                    class="onboarding-interest-img position-absolute z-1"
                    src="/assets/images/onboarding/interest-5.png"
                    alt="興趣選項-音樂"
                  />
                </div>
              </label>
            </div>
          </div>
          <div class="col-6">
            <div class="onboarding-check onboarding-check-lg rounded-4">
              <input
                class="onboarding-check-input d-none"
                type="checkbox"
                name="interest"
                id="films-television"
                value="films-television"
              />
              <label
                class="onboarding-check-label card h-100"
                for="films-television"
              >
                <div class="card-body">
                  <h3 class="fs-18 fw-bold">影視</h3>
                  <p class="onboarding-check-text mb-6t fs-14">追劇好片推薦</p>

                  <img
                    class="onboarding-interest-img position-absolute z-1"
                    src="/assets/images/onboarding/interest-6.png"
                    alt="興趣選項-影視"
                  />
                </div>
              </label>
            </div>
          </div>
        </form>
      </section>
      <%- include('./layout/onboarding/pagenation.ejs', {prevPage:
      'gender.html', nextPage: 'dietary.html'}) %>
    </main>
    <script type="module" src="/main.js"></script>
    <script type="module">
      const sessionStorageValue = sessionStorage.getItem("interest");
      const form = document.querySelector("#interestForm");
      const nextPageBtn = document.querySelector("#prevPageBtn");
      const checkboxs = [...form.querySelectorAll('input[name="interest"]')];
      const selectedOptions = sessionStorageValue
        ? [...JSON.parse(sessionStorageValue)]
        : [];

      const toggleBtnDisabled = (btnDom) => {
        if (selectedOptions.length) {
          btnDom.classList.remove("disabled");
          return;
        }
        btnDom.classList.add("disabled");
      };

      const toggleOption = (event) => {
        const { value, checked } = event.target;

        // 移除選項
        if (!checked) {
          const optionIndex = selectedOptions.findIndex(
            (option) => option === value
          );
          selectedOptions.splice(optionIndex, 1);
          if (selectedOptions.length < 3) {
            checkboxs.forEach((e) => {
              e.removeAttribute("disabled");
            });
          }
          return;
        }

        // 新增選項
        selectedOptions.push(value);
        sessionStorage.setItem("interest", JSON.stringify(selectedOptions));
      };

      // onMounted
      toggleBtnDisabled(nextPageBtn);
      selectedOptions.forEach((option) => {
        const target = checkboxs.find((checkbox) => checkbox.value === option);
        target.checked = true;
      });
      checkboxs.forEach((e) => {
        if (!e.checked) {
          e.setAttribute("disabled", "");
        }
      });

      // watch
      form.addEventListener("change", (e) => {
        // 限制數量
        if (selectedOptions.length >= 2) {
          checkboxs.forEach((e) => {
            if (!e.checked) {
              e.setAttribute("disabled", "");
            }
          });
        }

        toggleOption(e);
        toggleBtnDisabled(nextPageBtn);
      });
    </script>
  </body>
</html>
