.nav {
  .nav-img-1-off {
    content: url("/assets/images/nav-icon/home-off.svg");
  }
  .nav-img-1-on {
    content: url("/assets/images/nav-icon/home-on.svg");
  }
  .nav-img-2-off {
    content: url("/assets/images/nav-icon/explore-off.svg");
  }
  .nav-img-2-on {
    content: url("/assets/images/nav-icon/explore-on.svg");
  }
  .nav-img-3-off {
    content: url("/assets/images/nav-icon/card-off.svg");
  }
  .nav-img-3-on {
    content: url("/assets/images/nav-icon/card-on.svg");
  }
  .nav-img-4-off {
    content: url("/assets/images/nav-icon/chat-off.svg");
  }
  .nav-img-4-on {
    content: url("/assets/images/nav-icon/chat-on.svg");
  }
  .nav-img-5-off {
    content: url("/assets/images/nav-icon/user-off.svg");
  }
  .nav-img-5-on {
    content: url("/assets/images/nav-icon/user-on.svg");
  }
}
.footer {
  border-bottom-left-radius: 1000px;
  border-bottom-right-radius: 1000px;
}
@media (max-width: 450px) {
  .footer {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
