.black-filter {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.hints {
  position: absolute;
  inset: 0;
  z-index: 101;
  .close-btn {
    top: 24px;
    right: 24px;
  }
}
.header{
  max-width: 100%;
}
.main {
  height: 621px;
  .bg-card {
    width: 95.48533%;
    height: 580px;
    left: 8px;
    top: 9px;
  }
  .me-card {
    width: 91.46666%;
    height: 580px;
    background-size: cover;
    border-radius: 24px;
  }
  .dislike-btn {
    width: 80px;
    padding: 24px;
    top: 271px;
    left: 52px;
    &::before {
      content: "";
      display: block; /* 或 inline-block */
      position: absolute; /* 如果想覆蓋父元素 */
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      background: #ffffff80;
      z-index: -1;
      border-radius: 1000px;
    }
  }
  .like-btn {
    width: 80px;
    padding: 29.16px 19px 23.18px 19px;
    top: 271px;
    right: 52px;
    &::before {
      content: "";
      display: block; /* 或 inline-block */
      position: absolute; /* 如果想覆蓋父元素 */
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.6;
      background: #d4ecdf;
      z-index: -1;
      border-radius: 1000px;
    }
  }

  .fit {
    width: 108px;
    background-size: cover;
    &-inside {
      width: 68px;
    }
  }

  .green-cat {
    width: 20px;
  }
}

.nav {
  border-top: 0.5px rgb(0, 0, 0, 0.1) solid;
  &-item {
    width: 20%;
    .red-badge {
      top: 6px;
      left: 46.3px;
    }
  }
}
.footer {
  .foot {
    width: 139px;
    height: 5px;
    border-radius: 100px;
  }
}
.info {
  .fit {
    width: 108px;
    background-size: cover;
    &-inside {
      width: 68px;
    }
  }
  .interest-card {
    width: 163.5px;
    height: 163px;
    border: rgb(0, 0, 0, 0.1) solid;
    border-radius: 16px;
    &-img {
      border-bottom-right-radius: 16px;
      bottom: -2px;
    }
  }
}
.interest-list {
  .swiper-slide {
    height: 160px;
    .swiper-img {
      height: 160px;
      object-fit: cover;
      border-radius: 16px;
    }
  }
}



.swiper {
  &-slide {
    height: 160px;
    &-img {
      height: 160px;
      object-fit: cover;
      border-radius: 16px;
    }
  }
}
.z-4 {
  z-index: 4;
}
.z-5 {
  z-index: 5;
}
.z-6 {
  z-index: 6;
}
.z-7 {
  z-index: 7;
}
.z-8 {
  z-index: 8;
}
.z-100 {
  z-index: 100;
}
.rounded-1000 {
  border-radius: 1000px;
}
