.black-filter {
  // content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  // inset: 0; /* 等於 top/right/bottom/left:0 */
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  pointer-events: none;
}
.hint {
  position: absolute;
  inset: 0;
  z-index: 101;
  pointer-events: none;
  .close-btn {
    top: 24px;
    right: 24px;
  }
}
.main {
  .bg-card {
    width: calc(100% - 16.93px);
    height: 580px;
    left: 8px;
    top: 9px;
  }
  .me-card {
    width: 343px;
    height: 580px;
    background-size: cover;
    border-radius: 24px;
  }
  .fit {
    width: 108px;
    background-size: cover;
    &-inside {
      width: 68px;
    }
  }
  .green-cat {
    width: 20px;
  }
}
.nav {
  border-top: 0.5px rgb(0, 0, 0, 0.1) solid;
  &-item {
    width: 20%;
    .red-badge {
      top: 6px;
      left: 46.3px;
    }
  }
}
.footer {
  .foot {
    width: 139px;
    height: 5px;
    border-radius: 100px;
  }
}
.info {
  .fit {
    width: 108px;
    background-size: cover;
    &-inside {
      width: 68px;
    }
  }
}
.swiper {
  &-slide {
    height: 160px;
    &-img {
      height: 160px;
      object-fit: cover;
      border-radius: 16px;
    }
  }
}.black-filter {
  // content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  // inset: 0; /* 等於 top/right/bottom/left:0 */
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  pointer-events: none;
}
.hint {
  position: absolute;
  inset: 0;
  z-index: 101;
  pointer-events: none;
  .close-btn {
    top: 24px;
    right: 24px;
  }
}
.main {
  .bg-card {
    width: calc(100% - 16.93px);
    height: 580px;
    left: 8px;
    top: 9px;
  }
  .me-card {
    width: 343px;
    height: 580px;
    background-size: cover;
    border-radius: 24px;
  }
  .fit {
    width: 108px;
    background-size: cover;
    &-inside {
      width: 68px;
    }
  }
  .green-cat {
    width: 20px;
  }
}
.nav {
  border-top: 0.5px rgb(0, 0, 0, 0.1) solid;
  &-item {
    width: 20%;
    .red-badge {
      top: 6px;
      left: 46.3px;
    }
  }
}
.footer {
  .foot {
    width: 139px;
    height: 5px;
    border-radius: 100px;
  }
}
.info {
  .fit {
    width: 108px;
    background-size: cover;
    &-inside {
      width: 68px;
    }
  }
}
.swiper {
  &-slide {
    height: 160px;
    &-img {
      height: 160px;
      object-fit: cover;
      border-radius: 16px;
    }
  }
}
