.main {
  .bg-card {
    width: calc(100% - 16.93px);
    height: 580px;
    left: 8px;
    top: 9px;
  }
  .me-card {
    width: 343px;
    height: 580px;
    background-size: cover;
    border-radius: 24px;
  }
  .fit {
    width: 108px;
    background-size: cover;
    &-inside {
      width: 68px;
    }
  }
  .green-cat {
    width: 20px;
  }
}
.nav {
  border-top: 0.5px rgb(0, 0, 0, 0.1) solid;
  &-item {
    width: 20%;
    .red-badge {
      top: 6px;
      left: 46.3px;
    }
  }
}
.footer {
  .foot {
    width: 139px;
    height: 5px;
    border-radius: 100px;
  }
}
.info {
  .fit {
    width: 108px;
    background-size: cover;
    &-inside {
      width: 68px;
    }
  }
  .swiper{
    // margin-right: -16px;
    // padding-right: -16px;
    &-slide{
      height: 160px;
      &-img{
        height: 160px;
        object-fit: cover;
      }
    }
  }
}
