.bg{
    height: 992px;
  background: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #221F1E 100%),
    url("/assets/images/index-img/Hero-Image-full.png") 
    no-repeat center center/cover;
  overflow: hidden;
}