.match-main {
  height: 100%;
}
.fw-900 {
  font-weight: 900;
}
.card-lily,
.card-lee {
  width: 152px;
  border: white solid 2px;
  border-radius: 16px;
  height: 199px;
}
.card-lily {
  position: absolute;
  transform: rotate(-5.08deg);
  left: 26.67px;
  top: 45.52px;
}
.card-lee {
  top: 88.31px;
  left: 176.63px;
  transform: rotate(6.5deg);
}
.input-box {
  background: rgb(0, 0, 0, 0.05);
  border-radius: 24px;
  .match-input {
    width: 295px;
    background: transparent;
  }
  .match-input::placeholder {
    color: rgb(0, 0, 0, 0.4);
  }
}
.icon-send {
  width: 24px;
  height: 24px;
}
.blur-bg {
  background-image: url("/assets/images/match/Image-bg.png");
  background-size: cover;
  z-index: 1;
  filter: brightness(0.65) blur(4px);
  margin-top: -10px;
  border-radius: 40px;
}
.match-down {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border: white solid 1px;
  position: absolute;
  bottom: -220px;
  height: 0;
  left: 0;
  right: 0;
  animation-name: slide-in-up;
  animation-duration: 0.55s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}
@keyframes slide-in-up {
  from {
    position: absolute;
    bottom: 0;
    height: 0;
    z-index: -1;
  }
  to {
    position: absolute;
    bottom: 0;
    height: 220px;
    z-index: 8;
  }
}
.match-close-btn {
  background-color: transparent;
  top: 66px;
  right: 16px;
}

.move-right {
  animation-name: move-right;
  animation-duration: 0.85s;
}
.move-left {
  animation-name: move-left;
  animation-duration: 0.85s;
}
@keyframes move-right {
  0% {
    left: -211.93px;
    top: 80.64px;
    transform: rotate(-21.31deg);
  }
  35.29411% {
    left: 57.65px;
    top: 43.32px;
    transform: rotate(-4.47deg);
  }

  100% {
    left: 26.67px;
    top: 45.52px;
    transform: rotate(-5.08deg);
  }
}
@keyframes move-left {
  0% {
    left: 378px;
    top: 124.38px;
    transform: rotate(21.31deg);
  }
  35.29411% {
    left: 147.78px;
    top: 90.39px;
    transform: rotate(3.31deg);
  }

  100% {
    left: 176.63px;
    top: 88.31px;
    transform: rotate(6.5deg);
  }
}

.animate__animated.animate__fadeIn {
  animation-delay: 0.3s;
}
@media (max-width: 450px) {
  .blur-bg {
    border-radius: 0;
    margin: 0;
  }
  .match-down {
    margin: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .match-main {
    height: 100vh;
    width: 100%;
  }
}
