.fw-900 {
  font-weight: 900;
}
.card-lily,
.card-lee {
  width: 152px;
  border: white solid 2px;
  border-radius: 16px;
  height: 199px;
}
.card-lily {
  margin-top: 10px;
  transform: rotate(-9deg);
  margin-left: 20px;
}
.card-lee {
  top: 90px;
  right: 25px;
  transform: rotate(9deg);
}
.input-box {
  background: rgb(0, 0, 0, 0.05);
  border-radius: 24px;
  .match-input {
    width: 295px;
    background: transparent;
  }
  .match-input::placeholder {
    color: rgb(0, 0, 0, 0.4);
  }
}
.icon-send {
  width: 24px;
  height: 24px;
}
.blur-bg {
  background-image: url("/assets/images/match/Image-bg.png");
  background-size: cover;
  z-index: -1;
  filter:brightness(0.65) blur(4px);
}
.match-down {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border: white solid 1px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.match-close-btn {
  background-color: transparent;
  top: 66px;
  right: 16px;
}
