// 手機框
.mobile-frame {
  background-color: rgba(0, 0, 0, 0.4);
  min-height: 100vh;
  padding-block: 32px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  &::before {
    content: '';
    background: url("/assets/images/iphone11-pro-frame.png") center / cover no-repeat;
    display: block;
    width: 427px;
    height: 858px;

    @media (max-width: 450px) {
      content: unset;
    }
  }

  .mobile-container {
    position: absolute;
    align-self: anchor-center;
    border-radius: 39px;
    background: $bg-body;
    width: 375px;
    height: 812px;
    
    @media (max-width: 450px) {
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
    .mobile-content {
      height: calc(100% - 83px);

      @media (max-width: 450px) {
      height: 100vh;
      }
    }

    &::before,
    &::after {
      content: "";
      display: block;
      width: 100%;

      @media (max-width: 450px) {
        content: unset;
      }
    }

    &::before {
      height: 50px;
      background: url("/assets/images/onboarding/status-bar.png") center / cover no-repeat;
    }

    &::after {
      height: 33px;
      background: url("/assets/images/onboarding/bottom-nav-bar.png") center / cover no-repeat;
    }

    &.content-full {
      overflow: hidden;
      &::before {
        position: absolute;
        z-index: 1;
        width: 375px;
      }

      &::after {
        display: none;
      }
      .mobile-content {
        height: 100%;
      }
    }
  }
}

// icon
.icon {
  --icon-url: unset;
  display: block;
  width: 24px;
  height: 24px;
  background: var(--icon-url) center/cover no-repeat;

  // mask 形式（icon 不可透明，使用自已定義變數 --btn-color 與 --btn-color-opacity）
  &-mask {
    --icon-url: unset;
    display: block;
    width: 24px;
    height: 24px;
    background-color: rgba(var(--btn-color), var(--btn-color-opacity, 1));
    mask: var(--icon-url) center/cover no-repeat;
    -webkit-mask: var(--icon-url) center/cover no-repeat;
  }

  // 尺寸
  &-sm {
    width: 16px;
    height: 16px;
  }

  // icon 連結
  &-arrow-left {
    --icon-url: url("/assets/images/icon/arrow-left.svg");
  }

  &-arrow-right {
    --icon-url: url("/assets/images/icon/arrow-right.svg");
  }

  &-paw {
    --icon-url: url("/assets/images/icon/paw.svg");
  }

  &-check {
    --icon-url: url("/assets/images/icon/check.svg");
  }

  &-dice {
    --icon-url: url("/assets/images/icon/dice.svg");
  }
}

.option-card {
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 146px;
    height: 146px;
    top: 33px;
    left: 43px;
    background-color: $bg-avatar;
    border-radius: 50%;
  }

  h3 {
    margin-bottom: 94.3px;
  }

  img {
    position: absolute;
    z-index: 1;
    width: 99px;
    height: 99px;
    top: 44px;
    left: 61px;
  }
}

// 開始頁 start
.meelo-observer {
  width: 300px;
  transform: rotate(-25deg);
  bottom: 20px;
  left: 119.5px;
}
// 開始頁 end

.optionLayout {
  @media (max-width: 287px) {
    >* {
      width: 100%;
    }
  }
}

.dietaryLayout {
  display: grid;
  gap: 16px;
  grid-template-rows: repeat(4, minmax(104px, 120px));
  height: 100%;
}

.onboarding-check {
  position: relative;
  height: 147.33px;

  &-label {
    --title-color: #{$text-primary};
    color: var(--title-color);

    .onboarding-check-text {
      --text-color: #{to-rgb($black)};
      --text-color-opacity: 0.6;
      color: rgb(var(--text-color), var(--text-color-opacity));
    }

    .onboarding-check-text,
    .onboarding-check-title {
      position: sticky; // 避免被橘色圓圈壓住
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 146px;
      height: 146px;
      bottom: -32px;
      right: -24px;
      background-color: $bg-avatar;
      border-radius: 50%;
    }
  }

  // 不同尺寸與版型
  &-lg {
    height: 160px;

    .onboarding-check-label {
      &::after {
        bottom: -48px;
        right: -41.5px;
      }
    }
  }

  &-full {
    height: 100%;

    .onboarding-check-label::after {
      position: absolute;
      width: 160px;
      height: 160px;
      transform: translateY(-50%);
      top: 50%;
      left: -64px;
    }
  }

  // checked 樣式
  &-input:not(:checked)+&-label {
    overflow: hidden;
  }

  &:has(.onboarding-check-input:checked) {
    overflow: hidden;

    .card {
      --bs-card-bg: #{$primary-active};
      --bs-card-border-color: #{$primary-active};
      --title-color: #{$white};

      .onboarding-check-text {
        --text-color: #{$white};
        --text-color-opacity: 1;
      }
    }
  }

  .onboarding-gender-img {
    width: 99px;
    height: 99px;
    bottom: 4.33px;
    right: 3.5px;
  }

  .onboarding-interest-img {
    width: 80px;
    height: 80px;
    bottom: 2px;
    right: 1.5px;
  }

  .onboarding-dietary-img {
    width: 64px;
    height: 64px;
    left: 48px;
  }
}

.page-scoll-mask {
  &-t::after {
    content: "";
    display: block;
    width: 100%;
    margin-top: -1px;
    height: 25px;
    background: linear-gradient(180deg,
        #fefcfb 0%,
        rgba(254, 252, 251, 0) 100%);
  }

  &-b::before {
    content: "";
    display: block;
    width: 100%;
    margin-bottom: -1px;
    height: 25px;
    background: linear-gradient(180deg,
        rgba(254, 252, 251, 0) 0%,
        rgba(254, 252, 251, 1) 100%);
  }

  &-b {
    position: absolute;
    bottom: 33px;

    @media (max-width: 450px) {
      bottom: 0px;
    }
  }
}

.option-contain {
  overflow: scroll;
  margin-top: -24px;
  padding-top: 24px;

  // Chrome / Safari / Edge
  &::-webkit-scrollbar {
    display: none;
  }

  // Firefox
  scrollbar-width: none;
}

.input-ghost {
  font-size: 36px;
  font-weight: $font-weight-bold;
  padding: 0;
  border: 0;
  background-color: $bg-body;
  line-height: 1.2;
  caret-color: $primary-default;

  &:focus,
  &:focus-visible {
    box-shadow: none;
  }
}

// button
.btn-primary {
  border-width: 0;
  background-image: unset;
  background-color: $primary-default;
  --bs-btn-hover-bg: #{$primary-active};
  --bs-btn-active-bg: var(--bs-btn-hover-bg) --bs-btn-focus-box-shadow: none;
  --bs-btn-disabled-bg: #{$primary-default};
  --bs-btn-disabled-opacity: 0.5
}

.btn-ghost {
  --btn-active-bg: var(--bs-body-color-rgb);
  --btn-active-bg-opacity: 1;
  --btn-color: var(--bs-body-color-rgb);
  --btn-color-opacity: 1;

  border-radius: $border-radius-pill;
  text-decoration: none;
  padding: 12px 16px;
  font-weight: $font-weight-bold;
  color: rgb(var(--btn-color), var(--btn-color-opacity));

  &:active {
    background-color: rgba(var(--btn-active-bg), var(--btn-active-bg-opacity));
  }

  &.disabled,
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }

  // 色系
  &-accent {
    --btn-active-bg: #{to-rgb($bg-avatar)};
    --btn-color: #{to-rgb($primary-default)};
  }

  &-neutral {
    --btn-active-bg: #{to-rgb($black)};
    --btn-active-bg-opacity: 0.5;
    --btn-color: #{to-rgb($black)};
    --btn-color-opacity: 0.4;
  }
}

// 假鍵盤
.fake-keyboard {
  margin-bottom: -336px;
  opacity: 0;

  @media (max-width: 450px) {
    margin-bottom: -369px;
  }

  &.open {
    transition: all 0.8s ease-in-out;
    margin-bottom: -33px;
    opacity: 1;

    @media (max-width: 450px) {
      margin-bottom: 0px;
    }
  }

  &.close {
    transition: all 0.8s ease-in-out;
    margin-bottom: -336px;
    opacity: 0;

    @media (max-width: 450px) {
      margin-bottom: -90%;
    }
  }
}

/* 表單相關動畫開始 */
.dynamic-name {
  margin-left: -16px;
  width: 64px;
  display: flex;
  justify-content: end;

  .dynamic-first {
    transition: all 0.4s ease 1s;
  }

  .dynamic-sec {
    transition: all 0.4s ease 1s;
    margin-right: -100%;
    opacity: 0;
  }
  &.switch-name {
    margin-left: 0;
  
    .dynamic-first {
      margin-left: -100%;
      opacity: 0;
    }
  
    .dynamic-sec {
      margin-right: 0;
      opacity: 1;
    }
  }
}
/* 表單相關動畫結束 */

/* 建立角色動畫頁開始 */
.character-creating {
  object-fit: cover;
  width: 100%;
  height: 100%;

  &-text {
    top: 90px;
    color: $primary-active;
    -webkit-text-stroke: 0.5px rgba(242, 242, 215, 0.02);
    text-shadow: 0px 0px 24px rgba(250, 199, 109, 1);
  }
}
/* 建立角色動畫頁結束 */

/* 角色頁開始 */
.character-image {
  position: relative;

  img {
    width: 208px;
    height: 208px;
  }

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
  }

  &::before {
    width: 28px;
    height: 28px;
    background: url('/assets/images/onboarding/star-deco-right.svg') center / cover no-repeat;
    top: 40px;
    right: -22.5px;
  }

  &::after {
    width: 24px;
    height: 24px;
    background: url('/assets/images/onboarding/star-deco-left.svg') center / cover no-repeat;
    bottom: 16px;
    left: 4.5px;
  }
}

.bg-deco-r-b {
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    background-color: #F9EBDB;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    bottom: -80px;
    right: -73px;
  }
}

.animation-deco {
  background-color: #db773d;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  right: 67px;
  bottom: 52px;
  transform: translate(45%, 45%) scale(1);
  transition: transform 0.6s linear, bottom 0.6s linear, right 0.6s linear, ;

  @media (max-width: 450px) {
    bottom: 19px;
  }
}

.character-transition {
  overflow: hidden !important;

  >*:not(.animation-deco) {
    transition: opacity 0.6s linear;
    opacity: 0;
  }

  .animation-deco {
    bottom: 50%;
    right: 50%;
    transform: translate(45%, 45%) scale(150);
  }
}
/* 角色頁結束 */